<div>
  <%=image_tag @pet.image, style: "width: 200px; display: block;"%>
  Name: <%=link_to @pet.petname%><br>
  Pet Type: <%=link_to @pet.pet_type%><br>
  Price: <%=link_to @pet.price%>$<br>
  Food: <%= link_to @pet.food%><br>
  Height: <%= link_to @pet.height%><br>
  Weight: <%= link_to @pet.weight%><br>
  Age: <%= link_to @pet.age%><br>
  Description: <%= link_to @pet.description%><br>
  Precaution: <%= link_to @pet.precaution%><br>
  Medical: <%= link_to @pet.medical%><br>
  Owner: <%= @pet.petshop.user.name%><br>
  <%= link_to "Buy", payment_path(@pet.id, @pet.price), class: "btn btn-success"%><hr>
</div>