<div>
  <%=image_tag @pet.image, style: "width: 200px; display: block;"%>
  Name: <%=link_to @pet.petname%><br>
  Food: <%= link_to @pet.food%><br>
  Height: <%= link_to @pet.height%><br>
  Weight: <%= link_to @pet.weight%><br>
  Age: <%= link_to @pet.age%><br>
  Owner: <%= @pet.petshop.user.name%><br>
  <%= link_to "Buy", payment_path(@pet.id), class: "btn btn-success"%><hr>
</div>