
<table class="table table-striped table-hover w-50">
  <thead class="table-dark">
    <h2>Pet Details</h2>
    <tr class="header">
      <th>Pet Name</th>
      <th>Food</th>
      <th>Weight</th>
      <th>Image</th>
      <th>Status</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <% current_user.petshop&.pets&.each do |i| %>
      <tr>
        <td><%= i.petname%></td>
        <td><%= i.food%></td>
        <td><%= i.weight%></td>
        <%if i.image.attached?%>
        <td><%=image_tag i.image, style: "width: 20px; display: block;"%></td>
        <%end%>
        <% if i.status == 0%>
        <td><%= "Available"%></td>
        <%else%>
        <td><%= "Not Avaibable"%></td>
        <%end%>
        <td>
          <%= link_to "Delete",pet_path(i.id), data: {turbo_method: :delete ,turbo_confirm: "are you sure"}, class: "btn btn-danger"%>
        </td>
      </tr>
    <%end%>
  </tbody>
</table>