<div>
  <%current_user.buys.all.each do |buy|%>
    <%=image_tag buy.pet.image, style: "width: 200px; display: block;"%><br>
    Name: <%=link_to buy.pet.petname%><br>
    Pet Type: <%=link_to buy.pet.pet_type%><br>
    Price: <%=link_to buy.pet.price%>$<br>
    Food: <%= link_to buy.pet.food%><br>
    Height: <%= link_to buy.pet.height%><br>
    Weight: <%= link_to buy.pet.weight%><br>
    Age: <%= link_to buy.pet.age%><br>
    Description: <%= link_to buy.pet.description%><br>
    Precaution: <%= link_to buy.pet.precaution%><br>
    Medical: <%= link_to buy.pet.medical%><br>
  <%end%>
</div><hr>