<%= flash[:note]%>
<% if user_signed_in?%>
  <% if current_user.role.upcase == "ADMIN"%>
    <%= render "home/users", locals: {current_user: @current_user}%>
    <%= render "home/pets", locals: {current_user: @current_user}%>
    <%= link_to "Add pet", new_pet_path%>
  <%elsif%>
    <% if current_user.role.upcase == "OWNER"%>
      <h1>welcome owner <%= current_user.name%></h1>
      <h2>Shop name: <%= current_user.petshop.shopname%></h2>
      <%= render "home/pets", locals: {current_user: @current_user}%>
      <%= link_to "Add pet", new_pet_path%>
    <%end%>
  <%else%>
    <h1>your are normal user</h1>
  <%end%>
<%else%>
    <h1>your are user and your are not signed in</h1>
<%end%>