<%= flash[:note]%>
<% if user_signed_in?%>
  <% if current_user.role.upcase == "ADMIN"%>
    <%= render "home/users", locals: {current_user: @current_user}%>
    <%= render "home/pets", locals: {current_user: @current_user}%>
    <%= link_to "Add pet", new_pet_path, class: "btn btn-success"%>
    <%= link_to "Shop now", petshops_path, class: "btn btn-danger"%>
    <%= link_to "Show Buy Pet", buy_pet_path(current_user.id), class: "btn btn-primary"%>
  <%elsif%>
    <% if current_user.role.upcase == "OWNER"%>
      <h1>welcome owner <%= current_user.name%></h1>
      <h2>Shop name: <%= current_user.petshop&.shopname%></h2>
      <%= render "home/pets", locals: {current_user: @current_user}%>
      <%= link_to "Add pet", new_pet_path, class: "btn btn-success"%>
      <%= link_to "Shop now", petshops_path, class: "btn btn-danger"%>
    <%end%>
  <%else%>
    <%= render "petshops/allpets", locals: {shop: @shop}%>
  <%end%>
<%else%>
  <%= render "petshops/allpets", locals: {shop: @shop}%>
<%end%>