<%= flash[:note]%>
<% if user_signed_in?%>
  <% if can? :customize , :all%>
    <div>
      <% if current_user.petshop.present?%>
      <%= link_to "Add pet", new_pet_path, class: "btn btn-success"%>
      <%end%>
      <%= link_to "Shop now", petshops_path, class: "btn btn-danger"%>
      <%= link_to "Your Cart", buy_pet_path(current_user.id), class: "btn btn-primary"%>
      <%= link_to "Profile", home_path(current_user.id), class: "btn btn-danger"%>
      <%= link_to "Balance", balance_path(current_user.id), class: "btn btn-secondary"%>
    </div>
    <div class="container">
      <div class="row W-100">
         <div class="col-5">
          <%= render "home/pets", locals: {current_user: @current_user}%>        
         </div>
         <div class="col-5">
          <%= render "home/users", locals: {current_user: @current_user}%>
         </div>
      </div>      
    </div>
  <%elsif%>
    <% if can? :custom, :all%>
      <h5>welcome owner <%= current_user.name%></h5>
      <h6>Shop name: <%= current_user.petshop&.shopname%></h6>
      <% if current_user.petshop.present?%>
      <%= link_to "Add pet", new_pet_path, class: "btn btn-success"%>
      <%end%>
      <%= link_to "Shop now", petshops_path, class: "btn btn-danger"%>
      <%= link_to "Your Cart", buy_pet_path(current_user.id), class: "btn btn-primary"%>
      <%= link_to "Profile", home_path(current_user.id), class: "btn btn-danger"%>
      <%= link_to "Balance", balance_path(current_user.id), class: "btn btn-secondary"%>
      <%= render "home/pets", locals: {current_user: @current_user}%>
    <%end%>
  <%else%>   
    <p class="fa-solid fa-cart-shopping btn-primary"><%= link_to "Your Cart", buy_pet_path(current_user.id), class: "btn btn-primary"%></p>
    <%= link_to "Shop now", petshops_path, class: "btn btn-danger"%>
    <%= link_to "Profile", home_path(current_user.id), class: "btn btn-danger"%>
  <%end%>
<%else%>
  <%= render "petshops/allpets", locals: {shop: @shop}%>
<%end%>